html {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

:root {
    --color-primary: #3e4344;
    --color-secondary: #8b9192;
    --color-accent: #FFFFFF;
    --color-highlight: #FFFFFF;
    --color-placeholder: #000000;
}

body {
    background-color: var(--color-primary);
    box-sizing: border-box;
    padding: 5%;
}

main {
    color: white;
}

.header {
    margin-bottom: 1vh;
}

.task-container {
    background-color: var(--color-secondary);
    color: var(--color-highlight);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    padding: 2%;
}

#clear-completed-btn,
#add-task-btn {
    cursor: pointer;
}

.subtitles {
    margin-bottom: 2vh;
}

.ordered-tasks li {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(-20px);
}

.ordered-tasks li.visible {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    font-size: medium;
}

i {
    margin-right: 8px;
    cursor: pointer;
}

.task-content {
    margin-bottom: 5px;
}

.completed-task {
    text-decoration: line-through;
    font-style: italic;
}